.button {
    -webkit-appearance: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Futura, sans-serif;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    display: inline-block;
    border-width: 0;
    background: var(--color-background-button);
    color: var(--color-foreground-button);
    cursor: pointer;
    border-radius: 1px;
    -webkit-app-region: no-drag;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transition: background-color 200ms, box-shadow 200ms;
}
.button:hover {
    animation: buttonHover 500ms infinite alternate ease-in-out;
    animation-delay: 200ms;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
    background-color: rgb(16, 88, 145);
}

.button--quick {
    padding: 5px 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.button--save {
    padding: 15px 30px;
    font-size: 20px;
    float: right;
    clear: both;
    margin: 10px 20px;
}

.button--head {
    font-size: 12px;
    margin: 7px;
    padding: 5px 10px;
    line-height: 1;
}

@keyframes buttonHover {
    from {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
        background-color: rgb(16, 88, 145);
    }
    to {
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .75);
        background-color: rgb(12, 64, 120);
    }
}