.mapList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 4px;
    padding: 10px;
}

.map {
    -webkit-appearance: none;
    display: grid;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-background-label);
    border-width: 0;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 40px 70px;
    grid-template-areas: "label icon image";
}
.map:hover, .map:focus {
    background-color: var(--color-background-label-hover);
}
.map:active {
    background-color: var(--color-background-form-button-active);
}
.map.is-selected {
    background-color: var(--color-background-form-button-selected);
}
.map__typeIcon {
    grid-area: icon;
    height: 24px;
    width: 24px;
    margin: 0 5px;
    align-self: center;
    opacity: 0.75;
}
.map__label {
    grid-area: label;
    font-size: 14px;
    line-height: 2;
    font-family: Roboto, sans-serif;
    padding-left: 7px;
    color: var(--color-foreground-label);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.map__image {
    background-size: cover;
    background-position: 50%;
}