.matchList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 100%;
}
.matchList-noMatches {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: BigNoodle;
    color: #fff;
    height: 100%;
    max-height: 400px;
    min-height: 100px;
    text-shadow:
        1px 1px 0 rgb(10, 20, 30),
        -1px 1px 0 rgb(10, 20, 30),
        1px -1px 0 rgb(10, 20, 30),
        -1px -1px 0 rgb(10, 20, 30);
}