.subpage {
    display: grid;
    grid-template-rows: 36px auto;
    grid-template-columns: 60px auto;
    grid-template-areas:
        "back head head"
        "main main main";
    height: calc(100vh - 41px);
}
.subpage.subpage--noHead {
    grid-template-rows: 0 auto;
}
.subpage.subpage--noBack {
    grid-template-columns: 0 auto;
}
.subpage__back {
    display: flex;
    grid-area: back;
}
.subpage__head {
    display: flex;
    grid-area: head;
    justify-self: end;
}
.subpage__body {
    overflow-y: auto;
    grid-area: main;
    max-height: 100%;
    padding: 5px;
}