.subpage {
    display: grid;
    grid-template-rows: 36px auto;
    grid-template-columns: 60px auto;
    grid-template-areas:
        "back head head"
        "main main main";
    height: calc(100vh - 41px);
}
.subpage__back {
    display: flex;
    grid-area: back;
}
.subpage__head {
    display: flex;
    grid-area: head;
    justify-self: end;
}
.subpage__body {
    overflow-y: auto;
    grid-area: main;
    max-height: 100%;
    padding: 5px;
}
@media (min-height: 720px) and (min-width: 700px) {
    .subpage {
        height: calc(100vh - 60px);
        grid-template-rows: 50px auto;
        grid-template-columns: 90px auto;
    }
}