.results {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.resultsLabel {
    cursor: pointer;
    display: block;
    padding: 10px 0;
    margin: 0 5px;
    min-width: 120px;
    text-align: center;
    line-height: 1;
    border: 0 solid red;
    -webkit-appearance: none;
    background-color: var(--color-background-form-button);
}
.resultsLabel:hover {
    background-color: var(--color-background-form-button-hover);
}
.resultsLabel:focus {
    background-color: var(--color-background-form-button-focus);
}
.resultsLabel:active {
    background-color: var(--color-background-form-button-active);
}
.resultsLabel.is-selected {
    background-color: var(--color-background-form-button-selected);
}
.resultsLabel--win {
    color: var(--color-result-win);
}
.resultsLabel--draw {
    color: var(--color-result-draw);
}
.resultsLabel--loss {
    color: var(--color-result-loss);
}
.resultsLabel__label {
    font-family: Roboto, sans-serif;
    font-size: 20px;
}
