.groupSize {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.groupSizeButton {
    flex-grow: 1;
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
    border-width: 0;
    margin: 0 2px;
    background-color: var(--color-background-form-button);
    border: 2px solid var(--color-background-form-button);
    padding: 10px 0;
    max-width: 120px;
    color: var(--color-foreground-form-button);
    text-align: center;
    font-family: Roboto, sans-serif;
}
.groupSizeButton:hover,
.groupSizeButton:focus {
    background-color: var(--color-background-form-button-hover);
}
.groupSizeButton:active {
    background-color: var(--color-background-form-button-active);
}
.groupSizeButton.is-selected {
    background-color: var(--color-background-form-button-selected);
    border-color: var(--color-background-form-button-selected);
}
.groupSizeButton__label {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    opacity: 0.75;
}
.groupSizeButton__value {
    font-size: 20px;
    line-height: 1;
}