<div class="groupSize">
    <button class="groupSizeButton" @click="resultChange" data-value="1">
        <div class="groupSizeButton__label">1</div>
    </button>
    <button class="groupSizeButton" @click="resultChange" data-value="2">
        <div class="groupSizeButton__label">2</div>
    </button>
    <button class="groupSizeButton" @click="resultChange" data-value="3">
        <div class="groupSizeButton__label">3</div>
    </button>
    <button class="groupSizeButton" @click="resultChange" data-value="4">
        <div class="groupSizeButton__label">4</div>
    </button>
    <button class="groupSizeButton" @click="resultChange" data-value="5">
        <div class="groupSizeButton__label">5</div>
    </button>
    <button class="groupSizeButton" @click="resultChange" data-value="6">
        <div class="groupSizeButton__label">6</div>
    </button>
</div>