.formHolder {
    // We should not use this feature in scss, but sometimes it is easier

    fieldset {
        border-width: 0;
        padding: 10px;
    }
    label[for] {
        font-family: BigNoodle;
        font-size: 20px;
    }
    .field-wrap {
        padding: 10px;
    }
    .error .errors {
        color: var(--color-foreground-error);
        padding: 0 10px 7px;
        font-size: 14px;
        > span {
            display: block;
            padding-bottom: 3px;
        }
    }
    input.form-control[type="text"],
    input.form-control[type="number"],
    input.form-control[type="date"],
    input.form-control[type="time"],
    select.form-control,
    textarea.form-control {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        font-size: 20px;
        font-family: Roboto, sans-serif;
        border: 2px solid var(--color-border-form-button);
        background-color: var(--color-background-form-input);
        color: var(--color-foreground-form-input);
    }
    input.form-control[type="text"],
    input.form-control[type="number"],
    textarea.form-control {
        -moz-appearance: none;
    }
    textarea.form-control {
        height: 150px;
        resize: none;
    }
    .field-submit [type="submit"] {
        -webkit-appearance: none;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Roboto, sans-serif;
        padding: 10px 20px;
        font-size: 12px;
        line-height: 1;
        font-weight: bold;
        float: right;
        clear: both;
        border-width: 0;
        background: var(--color-background-button);
        color: var(--color-foreground-button);
        cursor: pointer;
    }
    .field-submit [type="submit"]:hover {
        background-color: rgb(16, 88, 145);
    }
    .radio-list {
        padding-left: 10px;

        label {
            font-size: 14px;
            display: block;
            cursor: pointer;

            &:hover {
                background-color: var(--color-background-form-button-hover);
            }
            &:focus {
                background-color: var(--color-background-form-button-focus);
            }
            &:active {
                background-color: var(--color-background-form-button-active);
            }
        }
    }
    .field-checklist .field-wrap {
        padding-left: 10px;
        column-count: 3;
        column-gap: 30px;

        label {
            font-size: 14px;
            display: block;
            cursor: pointer;

            &:hover {
                background-color: var(--color-background-form-button-hover);
            }
            &:focus {
                background-color: var(--color-background-form-button-focus);
            }
            &:active {
                background-color: var(--color-background-form-button-active);
            }
        }
    }
    .form-group {
        padding-bottom: 10px;
    }
    .form-group:last-of-type {
        padding-bottom: 0;
    }
    .preview {
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
    .hint {
        padding: 0 10px 10px;
        margin-top: -7px;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        color: #747474;
    }
    .required > label:after {
        content: '*';
        color: orange;
    }
}
.removeLink {
    color: #747474;
    float: right;
    margin: 20px 0;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}
.removeLink:hover {
    text-decoration: underline;
}