body {
    margin: 0;
    background-color: var(--color-background-content);
    color: var(--color-foreground-content);
    font-family: Roboto, sans-serif;
    height: 100vh;
}
chrome {
    text-align: center;
    line-height: 100vh;
    font-size: 40px;
    display: block;
    -webkit-app-region: drag;
}