::-webkit-scrollbar {
    width: 17px;
    background: var(--color-background-label);
}
::-webkit-scrollbar-button {
    height: 0;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-background-label-hover);
}
::-webkit-scrollbar-corner {
    background: transparent;
}