.seasonSr {
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}

.placementSrHeader {
    font-size: 20px;
    font-weight: normal;
    font-size: 25px;
    margin: 10px 20px 0;
    font-family: BigNoodle;
    color: #fff;
    text-shadow:
        0 0 4px rgb(10, 20, 30),
        1px 1px 0 rgb(10, 20, 30),
        -1px 1px 0 rgb(10, 20, 30),
        1px -1px 0 rgb(10, 20, 30),
        -1px -1px 0 rgb(10, 20, 30);
}

.placementSrRating {
    font-size: 50px;
    max-width: 230px;
    width: 100%;
    text-align: center;
    padding: 10px;
    -moz-appearance: none;
    display: block;
    margin: 10px auto;
    box-sizing: border-box;
    font-family: Futura;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 
        0 0 3px rgba(10, 20, 30, 0.4),
        inset 0 20px 40px -10px rgba(99, 75, 236, 0.2);
}
