.seasonSr {
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}

.placementSrHeader {
    font-size: 20px;
    font-weight: normal;
    font-size: 25px;
    margin: 10px 20px 0;
    font-family: BigNoodle;
    color: var(--color-foreground-chrome);
}

.placementSrRating {
    font-size: 20px;
    max-width: 230px;
    width: 100%;
    text-align: center;
    padding: 10px;
    -moz-appearance: none;
    display: block;
    margin: 10px auto;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    border: 2px solid var(--color-border-form-input);
    background-color: var(--color-background-form-input);
    color: var(--color-foreground-form-input);
}
