<div class="pageCompetitive">
    <subpage>
        <form-head-select slot="head" v-model="order" :selected="order" title="Sort order" v-bind:items="sortOrders"></form-head-select>
        <loading-spinner v-if="loading"></loading-spinner>
        <div class="matchList">
            <div class="matchList-noMatches" v-if="matches.length === 0">
                <div class="matchList-noMatchesText">No matches</div>
            </div>
            <match-item v-if="!loading" v-for="match in matches" :key="match.id" :match="match"></match-item>
        </div>
    </subpage>
</div>