.matchItem {
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 64px 50px 100px 1fr 120px;
    grid-template-rows: 30px 14px auto auto;
    grid-template-areas:
        "icon mapname mapname mapname result"
        "icon time time heroes result"
        "icon streak teamratings heroes result"
        "details details details details details";
    background-color: var(--color-background-label);
    border-bottom: 2px solid var(--color-result-unknown);
    // cursor: pointer;
}
.matchItem:hover {
    // background-color: var(--color-background-label-hover);
}

.matchItem--win {
    border-color: var(--color-result-win);
}
.matchItem--draw {
    border-color: var(--color-result-draw)
}
.matchItem--loss {
    border-color: var(--color-result-loss)
}

.matchItem__details {
    grid-area: details;
    height: 0;
    overflow: hidden;
    display: grid;
}
.matchItem--details .matchItem__details {
    height: auto;
}

.matchItem__map {
    grid-area: icon;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.matchItem__mapName {
    grid-area: mapname;
    font-size: 30px;
    color: #fff;
    font-family: BigNoodle;
    line-height: 1;
    padding-left: 10px;
}
.matchItem__time {
    grid-area: time;
    color: #fff;
    font-size: 14px;
    padding: 2px 10px 0;
    line-height: 1;
}
.matchItem__streak {
    grid-area: streak;
    padding: 2px 2px 0 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
.matchItem__streak:before {
    padding-right: 5px;
}
.matchItem--win .matchItem__streak {
    color: var(--color-result-win);
}
.matchItem--win .matchItem__streak:before {
    content: "▲";
}
.matchItem--draw .matchItem__streak {
    color: var(--color-result-draw);
}
.matchItem--draw .matchItem__streak:before {
    content: "►";
}
.matchItem--loss .matchItem__streak {
    color: var(--color-result-loss);
}
.matchItem--loss .matchItem__streak:before {
    content: "▼";
}

.matchItemTeamRating {
    grid-area: teamratings;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 14px;
    padding: 2px 10px 0 2px;
    line-height: 17px;
}
.matchItemTeamRating__label {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
    padding: 2px 2px 0 0;
}
.matchItemTeamRating__value {
    min-width: 2.5ex;
    line-height: 17px;
    font-weight: bold;
    text-align: right;
}
.matchItemTeamRating__value--blueAdvantage {
    color: var(--color-team-blue);
}
.matchItemTeamRating__value--redAdvantage {
    color: var(--color-team-red);
}

.matchItem__rating {
    grid-area: result;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.matchItem__ratingIcon {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 64px;
    margin-left: 10px;
}
.matchItem__ratingLabel {
    font-size: 40px;
    font-family: kOverwatch;
    color: var(--color-result-unkown);
    display: inline;
}
.matchItem--win .matchItem__ratingLabel {
    color: var(--color-result-win);
}
.matchItem--draw .matchItem__ratingLabel {
    color: var(--color-result-draw)
}
.matchItem--loss .matchItem__ratingLabel {
    color: var(--color-result-loss)
}

.matchItem__characters {
    grid-area: heroes;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.matchItem__character {
    width: 32px;
    height: 32px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 2px 2px;
    border: 1px solid var(--color-foreground-label);
    border-radius: 10px;
}