<div class="characterList" ref="characters">
    <div class="characterType" v-if="list" v-for="item in list">
        <a class="character" href="#" v-for="character in item.characters" @click="clickHandler" :data-id="character.character.id">
            <div class="character__label">{{ character.character.getName() }}</div>
            <img class="character__typeIcon" :title="item.type.getName()" :src="item.type.getIcon()" />
            <div :style="`background-image: url(${ character.character.getIcon() })`" class="character__image"></div>
        </a>
    </div>
</div>