.characterList {
    padding: 10px 10px 5px;
}

.characterType {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 4px;
    padding-bottom: 10px;
}

.character {
    -webkit-appearance: none;
    display: grid;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-background-label);
    border-width: 0;
    transition:
        background-color 200ms,
        transform 200ms,
        opacity 200ms;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 32px 50px;
    grid-template-areas: "label icon image";
}
.character:hover, .character:focus {
    background-color: var(--color-background-label-hover);
}
.character:active {
    background-color: var(--color-background-form-button-active);
}
.character.is-selected {
    background-color: var(--color-background-form-button-selected);
}
.character__typeIcon {
    grid-area: icon;
    height: 16px;
    width: 16px;
    margin: 0 5px;
    align-self: center;
    opacity: 0.75;
}
.character__label {
    grid-area: label;
    font-size: 14px;
    line-height: 2;
    font-family: Roboto, sans-serif;
    padding-left: 7px;
    color: var(--color-foreground-label);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.character__image {
    background-size: cover;
    background-position: 50%;
    transition: filter 200ms;
    filter: saturate(1);
}