/**
 * Variables
 */

$color-bg-label: rgba(128, 73, 255, 0.28);
$color-bg-combined: rgba(124, 197, 255, 0.42);
$color-bg-altRow: rgba(0, 0, 0, 0.05);

/**
 * Styles
 */
.statsTable {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.statsTable + .statsTable {
    margin-top: 50px;
}
.statsHead {
    font-size: 20px;
    font-family: kOverwatch;
}
.statsField {
    font-size: 16px;
}
.statsHead,
.statsField {
    padding: 5px 10px;
    text-align: left;
    flex-grow: 1;
    width: 20%;
}
.statsHead--label,
.statsField--label {
    background-color: $color-bg-label;
    width: 25%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.statsHead--percentage,
.statsField--percentage {
    text-align: right;
}
.statsHead--number,
.statsField--number {
    text-align: right;
}
.statsField:nth-child(2n+1) {
    background-color: $color-bg-altRow;
}
.statsField--label:nth-child(2n+1) {
    background-color: mix($color-bg-altRow, $color-bg-label);
}
.statsGroups {
    margin-bottom: 10px;
}
.statsGroups:last-of-type {
    margin-bottom: 0;
}
.statsRow {
    display: flex;
    justify-content: space-between;
}
.statsRow:nth-child(2n+1) {
    background-color: $color-bg-altRow;
}
.statsRow.statsRow--combined {
    background-color: $color-bg-combined;
}
.statsPercent {
    font-size: .75em;
    vertical-align: baseline;
}

@media (max-width: 839px) {
    .statsHead {
        font-size: 15px;
    }
    .statsField {
        font-size: 14px;
    }
    .statsHead,
    .statsField {
        padding: 5px;
        min-width: 0;
    }
    .statsHead--percentage,
    .statsField--percentage {
        min-width: 60px;
    }
    .statsPercent {
        font-size: .5em;
        vertical-align: baseline;
    }
}