.statsTable {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.statsHead {
    font-size: 20px;
    line-height: 21px;
    font-family: kOverwatch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.statsField {
    font-size: 15px;
}
.statsRow:nth-child(odd) > .statsField:nth-child(odd) {
    background-color: var(--color-background-stats-odd-odd);
}
.statsRow:nth-child(odd) > .statsField:nth-child(even) {
    background-color: var(--color-background-stats-odd-even);
}
.statsRow:nth-child(even) > .statsField:nth-child(odd) {
    background-color: var(--color-background-stats-even-odd);
}
.statsRow:nth-child(even) > .statsField:nth-child(even) {
    background-color: var(--color-background-stats-even-even);
}
.statsHead,
.statsField {
    padding: 5px 10px;
    text-align: left;
    flex-grow: 1;
    width: 20%;
}
.statsHead--double {
    width: 40%;
    flex-grow: 2;
    text-align: center;
}
.statsHead--label,
.statsField--label {
    background-color: var(--color-background-stats-even);
    width: 25%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.statsHead--percentage,
.statsField--percentage {
    text-align: right;
}
.statsHead--number,
.statsField--number {
    text-align: right;
}
.statsHead--win {
    color: var(--color-result-win);
}
.statsHead--loss {
    color: var(--color-result-loss);
}
.statsHead--draw {
    color: var(--color-result-draw);
}

.statsRow > .statsField--label:nth-child(even) {
    background-color: var(--color-background-stats-even);
}
.statsGroups {
    margin-bottom: 10px;
}
.statsGroups:last-of-type {
    margin-bottom: 0;
}
.statsRow {
    display: flex;
    justify-content: space-between;
}
.statsRow.statsRow--combined > .statsField:nth-child(n) {
    background-color: var(--color-background-stats-combined);
}
.statsRow.statsRow--head {
    position: sticky;
    top: 0;
    background-color: var(--color-background-stats-head);
}
.statsRow.statsRow--subHead {
    position: sticky;
    top: 31px;
    background-color: var(--color-background-stats-head);
}
.statsRow.statsRow--subHead > .statsHead {
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px 2px;
}
.statsPercent {
    font-size: .75em;
    vertical-align: baseline;
}

/**
 * Overview page
 */
.statsOverview {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 31px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
    grid-template-areas:
    "quickratings quickresults bestchar"
    "quickratings quickresults bestmap";
}
.statsTable--quickRatings {
    grid-area: quickratings;
}
.statsTable--quickResults {
    grid-area: quickresults;
}
.statsTable--bestChar {
    grid-area: bestchar;
}
.statsTable--bestMap {
    grid-area: bestmap;
}