.addMatch__header {
    font-size: 20px;
    font-weight: normal;
    margin: 0 20px 0;
    font-family: BigNoodle;
    color: var(--color-foreground-content);
}
.addMatch__rating {
    padding: 10px 0;
}

.addMatchRating {
    font-size: 20px;
    max-width: 230px;
    width: 100%;
    text-align: center;
    padding: 10px;
    -moz-appearance: none;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    border-radius: 2px;
    border: 2px solid var(--color-border-form-input);
    background-color: var(--color-background-form-input);
    color: var(--color-foreground-form-input);
}

.addMatch__comment {
    padding: 10px;
}
.addMatchComment {
    display: block;
    margin: 0 auto 0;
    padding: 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.46;
    resize: vertical;
    height: 100px;
    box-sizing: border-box;
    max-width: 950px;
    width: 100%;
    border: 2px solid var(--color-border-form-input);
    background-color: var(--color-background-form-input);
    color: var(--color-foreground-form-input);
}

.addMatch__teamRating {
    display: flex;
    justify-content: space-around;
    max-width: 960px;
    margin: 0 auto;
}
.addMatchTeamRatingField {
    font-size: 20px;
    max-width: 230px;
    width: 100%;
    text-align: center;
    padding: 10px;
    -moz-appearance: none;
    display: block;
    margin: 10px auto;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    border: 2px solid var(--color-border-form-input);
    background-color: var(--color-background-form-input);
    color: var(--color-foreground-form-input);
}
.addMatchTeamRatingField::placeholder {
    color: var(--color-foreground-form-input-placeholder);
}
.addMatchTeamRatingField--red {
    border-color: var(--color-team-red);
}
.addMatchTeamRatingField--blue {
    border-color: var(--color-team-blue);
}

.addMatchCommentSuggestions {
    padding: 10px 5px 10px 20px;
    box-sizing: border-box;
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}
.addMatchCommentSuggestions__label {
    font-size: 16px;
    color: var(--color-foreground-content);
    margin: 0 0 5px;
}
.addMatchCommentSuggestions__values {
    overflow: auto;
}
.addMatchCommentSuggestions__text {
    text-decoration: none;
    color: var(--color-foreound-form-button);
    background-color: var(--color-background-form-button);
    margin-left: 4px;
    padding: 5px;
    float: left;
}
.addMatchCommentSuggestions__text:hover {
    text-decoration: none;
    background-color: var(--color-background-form-button-hover);
}
.addMatchCommentSuggestions__text:focus {
    background-color: var(--color-background-form-button-focus);
}
.addMatchCommentSuggestions__text:active {
    background-color: var(--color-background-form-button-active);
}

.addMatch {
}
.addMatchGroup {
    padding-bottom: 10px;
}
.addMatchGroup--rating {
}
.addMatchGroup--result {
}
.addMatchGroup--map {
}
.addMatchGroup--character {
}
.addMatchGroup--groupSize {
}
.addMatchGroup--teamRating {
}
.addMatchGroup--comment {
}
.addMatchGroup--save {
    position: absolute;
    bottom: 0;
    right: 20px;
}