.seasonSelect {
    font-size: 12px;
    border-radius: 3px;
    padding: 1px 10px 0;
    width: 120px;
    margin: 7px 7px 7px 15px;
    line-height: 1;
    font-family: Futura;
    color: #fff;
    background-color: rgba(63, 65, 130, 0.8);
    background-image: url('../../../../static/img/select.svg');
    background-size: 9px;
    background-position: calc(100% - 3px) 50%;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-align: center;
    -webkit-appearance: none;
    transition: background-position 200ms;
}
.seasonSelect:hover {
    background-position: calc(100% - 3px) calc(50% - 1px);
}
.seasonSelect:active {
    background-position: calc(100% - 3px) calc(50% + 1px);
}

.seasonSelect__item {
    text-transform: uppercase;
}
.seasonSelect__item:hover {
    background: rgba(63, 65, 130, 0.8);
}

@media (min-height: 720px) and (min-width: 1000px) {
    .seasonSelect {
        font-size: 16px;
        width: 190px;
        padding: 1px 30px 0 10px;
        background-size: 12px;
        background-position: calc(100% - 10px) 50%;
    }
    .seasonSelect:hover {
        background-position: calc(100% - 10px) calc(50% - 2px);
    }
    .seasonSelect:active {
        background-position: calc(100% - 10px) calc(50% + 2px);
    }
}