.buttonBack {
    -webkit-appearance: none;
    display: block;
    flex-grow: 1;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px;
    border-width: 0;
    background: var(--color-background-button);
    color: var(--color-foreground-button);
    border-radius: 3px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transition: background-color 200ms, box-shadow 200ms;
}
.buttonBack:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
    background-color: rgb(16, 88, 145);
}

.buttonBack__icon {
    height: 16px;
    width: 16px;
    display: block;
    margin: 0 auto;
}
.buttonBack__iconPath {
    stroke: transparent;
    fill: #fff;
}
@media (min-height: 720px) and (min-width: 700px) {
    height: 20px;
    width: 20px;
}