.chrome {
    display: grid;
    grid-template-rows: 32px auto;
    grid-template-columns: 60px auto;
    grid-template-areas: "head head" "sidebar main";
    height: 100vh;
}
.chrome.chrome--sidebarOpen {
    grid-template-columns: 200px auto;
}
.chrome__head {
    -webkit-app-region: drag;
    grid-area: head;
    background-color: var(--color-background-chrome);
    display: flex;
    color: var(--color-foreground-chrome);
    justify-content: flex-end;
    align-items: stretch;
    line-height: 1;
}
.chrome__title {
    padding: 5px 0 5px 5px;
    font-size: 24px;
    font-family: BigNoodle;
    flex-grow: 2;
}
.chrome__title:before {
    content: "";
    background-image: url('../../../../static/img/cws-logo-24.svg');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 24px;
    width: 50px;
    margin-right: 5px;
    float: left;
}
.chrome__rating {
    line-height: 32px;
    padding-right: 15px;
    display: flex;
}
.chrome__ratingIcon {
    height: 32px;
    width: auto;
}
.chrome__ratingLabel {
    color: var(--color-foreground-chrome);
    font-size: 24px;
    font-family: kOverwatch;
}
.chrome__windowAction {
    white-space: nowrap;
}
.chrome__sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-chrome);
}
.chrome__body {
    grid-area: main;
}

.sidebarLink {
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    color: var(--color-foreground-chrome);
}
.sidebarLink.router-link-active {
    color: var(--color-foreground-chrome-active);
}
.sidebarLink--update {
    margin-top: auto;
    display: none;
    color: var(--color-foreground-update);
    background-color: var(--color-background-update);
}
.sidebarLink--updateAvalible {
    display: block;
}
.sidebarLink:hover {
    background-color: var(--color-background-chrome-hover);
}
.sidebarLink--update:hover {
    color: var(--color-foreground-update-hover);
    background-color: var(--color-background-update-hover);
}
.sidebarLink--addMatch {
    margin-top: auto;
}
.sidebarLink--updateAvalible + .sidebarLink--addMatch,
.sidebarInfo--season + .sidebarLink--updateAvalible {
    margin-top: 0;
}
.sidebarLink__icon {
    height: 30px;
    width: 30px;
    margin: 0 auto 5px;
    display: block;
}
.sidebarLink__label {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 10px;
}
.sidebarInfo {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 5px;
    text-align: center;
    color: var(--color-foreground-chrome);
}
.sidebarInfo__label {
    text-transform: uppercase;
    font-size: 10px;
}
.sidebarInfo__value {
    font-size: 30px;
    font-family: kOverwatch;
}
