.headSelect {
    font-size: 12px;
    border-radius: 3px;
    display: flex;
    margin: 7px 7px 7px 15px;
    line-height: 1;
    color: #fff;
    overflow: hidden;
    background-color: var(--color-background-form-button);
}

.headSelectItem {
    display: block;
    text-transform: uppercase;
    padding: 5px 10px;
    min-width: 25px;
    text-align: center;
    cursor: pointer;
}
.headSelectItem:hover {
    background-color: var(--color-background-form-button-hover);
}
.headSelectItem.is-selected {
    background-color: var(--color-background-form-button-active);
}