.listItemSettings {
    background-color: var(--color-background-label);
    color: var(--color-foreground-label);
    overflow: hidden;
    display: block;
    text-decoration: none;
    margin: 0 0 5px;
    padding: 10px;
    line-height: 1;
    transition: all 250ms;
    border-bottom: 2px solid var(--color-foreground-label);
}

.listItemSettings--map {
    border-bottom-color: var(--color-type-map);
}
.listItemSettings--maptype {
    border-bottom-color: var(--color-type-maptype);
}
.listItemSettings--rank {
    border-bottom-color: var(--color-type-rank);
}
.listItemSettings--commentsuggestion {
    border-bottom-color: var(--color-type-commentsuggestion);
}
.listItemSettings--season {
    border-bottom-color: var(--color-type-season);
}
.listItemSettings--character {
    border-bottom-color: var(--color-type-character);
}
.listItemSettings--charactertype {
    border-bottom-color: var(--color-type-charactertype);
}
.listItemSettings--placement {
    border-bottom-color: var(--color-type-placement);
}
.listItemSettings--match {
    border-bottom-color: var(--color-type-match);
}

.listItemSettings:hover {
    background-color: var(--color-background-label-hover);
}
.listItemSettings:active {
    background-color: var(--color-background-label-active);
}
.listItemSettings__iconWrapper {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    padding-right: 10px;
}
.listItemSettings__icon {
    height: 100%;
    width: auto;
    border-radius: 3px;
}
.listItemSettings__name {
    font-size: 30px;
    font-family: BigNoodle;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.listItemSettings__description {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 4px;
}