<div class="pageSettings">
    <subpage>
        <list-item-settings pageName="settings-list" type="match" label="Matches and Placements" description="Add, remove or edit matches and placements"></list-item-settings>
        <list-item-settings pageName="settings-list" type="map" label="Maps" description="Add, remove or edit avalible maps"></list-item-settings>
        <list-item-settings pageName="settings-list" type="maptype" label="Map Types" description="Add, remove or edit avalible map types"></list-item-settings>
        <list-item-settings pageName="settings-list" type="rank" label="Rank" description="Add, remove or edit avalible ranks"></list-item-settings>
        <list-item-settings pageName="settings-list" type="commentsuggestion" label="Comment Suggestions" description="Add, remove or edit avalible match comment suggestions"></list-item-settings>
        <list-item-settings pageName="settings-list" type="season" label="Seasons" description="Add, remove or edit avalible seasons"></list-item-settings>
        <list-item-settings pageName="settings-list" type="character" label="Characters" description="Add, remove or edit avalible characters"></list-item-settings>
        <list-item-settings pageName="settings-list" type="charactertype" label="Character Types" description="Add, remove or edit avalible character types"></list-item-settings>
    </subpage>
</div>